/* font family CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap");
/* Reset CSS */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto";
}
/* Head CSS Starts*/
.fb_container {
  width: 100%;
  height: 110vh;
  background-color: #f0f2f5;
}
.container {
  width: 80%;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.left-side,
.right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 400px;
}

.logo {
  height: 136px;
  width: 350px;
  object-fit: contain;
}

.fb-para {
  width: 100%;
  font-size: 24px;
  padding: 0px 30px;
  font-weight: 500;
  margin: -35px 40px;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  color: #333333;
}
.box {
  background-color: #fff;
  margin: 10px auto;
  width: 70%;
  height: auto;
  margin: 0px auto;
  border-radius: 10px;
}
.email,
.password {
  padding: 14px 16px;
  width: 95%;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 3px;
  border: 1px solid #ddd;
  font-size: 16px;
  border-radius: 6px;
  border: 1.4px solid rgba(98, 97, 97, 0.36);
  outline: none;
}
.login button {
  background-color: #1877f2;
  border: none;
  color: #fff;
  width: 95%;
  cursor: pointer;
  height: 45px;
  margin: 5px 10px;
  text-align: center;
  font-size: 17px;
  border-radius: 6px;
}
.login button:hover {
  background-color: #1876f2cb;
}
.forget button {
  width: 95%;
  height: 45px;
  margin: 5px 10px;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  color: #1877f2;
  border: none;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.forget button:hover {
  text-decoration: underline;
}
.new button {
  width: 50%;
  height: 45px;
  margin: 15px 110px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  background-color: #42b72a;
  color: #fff;
}
.new button:hover {
  background-color: rgba(66, 183, 42, 0.793);
}
.para {
  margin: 20px 40px;
  width: 85%;
  text-align: center;
}
.para span {
  font-size: 15px;
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.para span:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* Head CSS ends */

/* Foot CSS Starts */
.foot-container {
  width: 73%;
  height: 110px;
  margin: 0px auto;
  font-size: 12px;
}
.foot-top {
  margin: 5px 0px;
  padding: 5px 10px;
  border-bottom: 2px solid rgb(189, 186, 186);
}
.foot-mid {
  margin: 5px 0px;
}
.foot-container a {
  padding: 0px 10px;
  font-size: 12px;
  color: #8a8d91;
  text-decoration: none;
  white-space: nowrap;
}
.foot-container a:hover {
  text-decoration: underline;
}
.foot-bottom {
  margin: 10px 0px;
  padding: 10px 10px;
}
.btn {
  padding: 2px 15px;
  font-size: 20px;
}
/* Foot CSS Ends */

/* Media Quary Starts */

@media only screen and (max-width: 779px) {
  .fb_container {
    width: 100%;
    height: auto;
    margin: 0px auto;
  }
  .container {
    width: 90%;
    height: auto;
    margin: 0px auto;
    flex-direction: column;
  }
  .left-side,
  .right-side {
    width: 90%;
    height: auto;
    text-align: center;
    margin: 0px auto;
  }
  .logo {
    width: 90%;
    margin: 10px auto;
  }
  .fb-para {
    width: 90%;
    height: auto;
    padding: 0px 10px;
    margin: 0px auto;
    text-align: center;
    font-size: 20px;
  }
  .box {
    width: 90%;
    margin: 10px auto;
    height: 100%;
    padding: 20px 0px;

  }
  .email,
  .password {
    width: 90%;
    margin: 10px auto;
    height: auto;
  }
  .para span {
    width: 90%;
    font-size: 14px;
  }
  .email,
  .password {
    font-size: 15px;
    height: 40px;
  }
  .forget button {
    font-size: 15px;
  }
  .new button {
    text-align: center;
    margin: 5px 10px;
    font-size: 15px;
  }
  .foot-container {
    margin-top: 15px;
    height: auto;
    width: 80%;
  }
  .foot-container a {
    font-size: 12px;
    text-align: justify;
  }
}
/* Media Quary Ends */
